.main-cart-page {
    display: flex;
    justify-content: space-evenly;
    margin-inline: auto;
    border: 1px solid purple;
    width: 50%;
}

.cart-header {
    padding: 0.8em;
}

h3 {
    padding: 0.2em;
}

.cart-side-image {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.cart-product-page {
    max-width: 65%;
    width: 100%;
    padding: 10px;
}

.cart-quantity-box {
    display: flex;
    margin: 5px;
    align-items: center;
}

.cart-quantity-box button {
    font-size: 24px;
    width: 30px;
    height: 30px;
    background-color: black;
    color: white;
    border: none;
}

.cart-product-description {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    max-height: 200px;
    height: 100%;
    text-align: left;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.cart-quantity {
    font-size: 20px;
}

.info-container {
    width: 100%;
    max-width: 400px;
}

.cart-price-box {
    display: flex;
    align-items: center;
}

.cart-price-lineThrough {
    text-decoration: line-through;
    color: gray;
    font-style: italic;
}


.cart-product-price {
    align-self: flex-start;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.cart-saving-text {
    font-style: italic;
}

.cart-btn {
    width: 100%;
    background-color: rgb(83, 165, 197);
    color: aliceblue;
    border: none;
    padding: 1em;

}

.btn-box {
    display: flex;
    flex-direction: column;
}

.cart-btn1 {
    background-color: gray;
    color: aliceblue;
    border: none;
    border-radius: 4px;
    margin: 5px;
    padding: 8px;
    width: 100%;
}

.cart-order-btn {
    display: flex;
    flex-direction: column;
}