.main_div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 25px;
    gap: 25px;
}

.single_div {
    padding: 25px;
    border-radius: 20px;
    align-items: center;
    gap: 10px;
    width: 100%;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px
}

.product_img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}