.main-div-homePage {
    text-align: center;
    margin-inline: auto;
    padding-inline: 30px;
    flex-wrap: wrap;
    display: flex;
}

.main-div-homePage>* {
    width: 50%;
    padding: 25px;
    text-decoration: none;
    color: black;
    box-shadow: rgba(7, 49, 60, 0.1) 0px 5px 15px;
}

.data-img {
    width: 50%;
    object-fit: contain;
    padding-bottom: 10px;
    height: 30vh;
}

.data-div h3 {
    font-size: 22px;
    text-transform: capitalize;
}

.homepage-link {
    text-decoration: none;
    color: darkblue;
}

.homepage-link:hover {
    font-size: large;
}