.main-div-homePage {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.data-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.data-div {
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
}

