*{
    margin: 0;
    padding: 0;
}

.filter-container {
    max-width: 30%;
    width: 30%;
    text-align: left;
    position: sticky;
    overflow: auto;
    max-height: 80vh;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.filter-headings, .filter-inputs , .filter-inputs input{
    cursor: pointer;
}

.filter-inputs input {
    width: 15%;
}

.filter-inputs label {
    text-transform: capitalize;
}

.filter-inputs input[type="range"] {
    width: 80%;
}
.filter-btn-box {
    display: flex;
    justify-content: space-around;

}
.filter-btn {
    padding: 0.7em;
    border-radius: 5px;
    background-color:rgb(241, 188, 89);
    color: aliceblue;
    border: none;
    font-size: large;
}