.filter-container {
    max-width: 25%;
    width: 100%;
    padding: 20px;
    position: sticky;
    overflow: auto;
    max-height: 80vh;
    align-self: flex-start;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.filter-headings-top {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.filter-headings-top h3 {
    font-size: 22px;
}

.filter-headings {
    display: flex;
    justify-content: flex-start;
    padding: 25px 5px 10px;
    cursor: pointer;
}

.filter-inputs {
    display: flex;
    cursor: pointer;
    gap: 15px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.filter-inputs input {
    cursor: pointer;
    font-size: 18px;
    width: 25px;
}

.filter-inputs label {
    text-transform: capitalize;
}

.filter-inputs input[type="range"] {
    width: 100%;
}