.navbar-main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 63px;
    background-color: skyblue;
    position: sticky;
    top: 0;
    padding-inline: 50px;
}

.search-bar {
    border-radius: 8px;
    border: none;
}

.leftside-navbar {
    padding: 1rem;
    color: darkblue;
    font-family: cursive;
}

.center-navbar {
    padding: 1rem;
}

.search-bar {
    padding: 0.6rem;
    width: 100%;
}

.icon-list-navbar {
    display: flex;
    justify-content: space-between;
}

.wishlist-navbar {
    padding: 0.7rem;
    font-size: xx-large;
}