* {
    text-decoration: none;
}
.navbar-main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 4.5vmax; */
    z-index: 2;
    position: sticky;
    top: 0;
    padding-inline: 2.5em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: white;

}
.search-bar {
    border-radius: 8px;
    border: none;
}

.leftside-navbar {
    font-size: 22px;
    font-family: cursive;
    text-decoration: none;
    letter-spacing: 1.2px;
    outline: none;
}

.icon-list-navbar {
    display: flex;
    justify-content: space-between;
}

.navbar-items-box {
    padding: 0.7em;
    transition: transform 0.3s ease-in-out;
}

.navbar-items-box:hover {
    transform: scale(1.2);
}

.navbar-items {
    font-size: 25px;
    padding: 0.4em;
}

.links {
    text-decoration: none;
    padding-inline: 0.5em;
    border-radius: 5px;
}