.main-container {
    width: 60%;
    display: flex;
    margin-inline: auto;
    margin-block: 2em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h1 {
    margin: 1em;
    color: darkblue;
    font-size: large;
    font-weight: 700;
    font-style: italic;
}
.product-detail-image {
    width: 65%;
    padding: 1.5em;
    margin-block: 2em;
}

.details {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    width: 50%;
}
h3, p {
    padding: 1em;
}

h2 {
    padding: 0.5em;
}
